
// Imports 

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;800&display=swap');


// Null

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
    font-size: 100%;
    color: #1e1e1e;
    font-family: "Montserrat", Serif;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

// Variables
$main-font: Work Sans, san-serif;
$primary-color: #10cab7;
$secondary-color: #575757;
$third-color: #2c4755;
$fourth-color: #ebeced;
$fifth-color: #f6f6f6;

// Mixins

@mixin title-1 {
	font-weight: 800;
	font-size: 55px;
	color: $primary-color;
}

@mixin title-2  {
	font-size: 20px;
	color: $third-color;
	
}


// Functions

body {
	font-family: $main-font;
	color: $secondary-color;
	font-weight: 400;
}
.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}

// Header Section 

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	padding: 40px 0px;
	z-index: 5;
}

.header {
	position: relative;
}


.header>span {
	display: none;
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $third-color;
    z-index: 2;
}


.header>span.enabled {
	display: block;
	z-index: 2;
	position: absolute;
	top: -20px;
}
//  Logo

.header__logo {
	flex: 0 1 auto;
	overflow: hidden;
	position: relative;
	z-index: 3;

}

.header__logo img {
	max-width: 100%;
	display: block;
}

// Burger 

body.lock {
	overflow: hidden;
}

.header__burger {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	position: relative;
	z-index: 3;
	cursor: pointer;
}

.header__burger span {
	position: absolute;
	background-color: $third-color;
	width: 70%;
	height: 2px;
	left: 28%;
	top: 9px;
	transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
	content: "";
	background-color: $third-color;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;

}
.header__burger:before {
	top: 0;

}

.header__burger:after {
	bottom: 0;
}

.header__burger.active:before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span {
	transform: scale(0);
}

.header__burger.active:before, .header__burger.active:after {
	background-color: #fff;;
}

// Menu Section

.header__menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $third-color;
	padding: 70px 10px 20px 10px;
	transition: all 0.3s ease 0s;
	overflow: auto;
}

.header__menu a {
	color: #fff;
}

.header__menu.active {
	top: 0;
	
}

.header__list {
	display: block;
	padding: 1.1rem 0 0 0rem;
	max-width: 1160px;
	margin: 0 auto;
}

.header__link {
	font-size: 29px;
	font-weight: regular;
	transition: all 0.3s ease 0s;
}

.header__link:first-child {
	padding-top: 1.2rem;
}

.header__link:hover {
	color: $primary-color;
}

.header__link.activated {
	color: $primary-color;

}

.header__list li {
	margin: 1.5rem 0px 20px 0px;
}

.header__burger.active .header__logo img {
	display: none;
}

.off {
	display: none;
}

.sub-name {
	color: #637988;
	font-size: 21px;
}

.socials__link, .contacts__link {
	transition: all 0.3s ease 0s;
}

.socials__menu, .contacts__menu {

	font-size: 21px;
}

.socials__link:hover {
	color: $primary-color;
}

.contacts__link:hover {
	color: $primary-color;
}

.copyright {
	padding-top: 5rem;
	font-size: 14.5;
	color: #637988;
	font-weight: regular;
}

// Hero Section

.hero__title {
	@include title-1();
	padding: 0px 0px 30px/55px *1em 0px;
}

.hero__subtitle {
	@include title-2();	
	line-height: 25px;
	max-width: 305px;
	margin: 0 auto;

}

.hero__wrapper {
	text-align: center;
	width: 100%;
	padding: 54px 0 260px 0;

}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;
}

.ibg2 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 5;
}
.ibg2 img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 5;
}

// Hero Cards

.hero__cards{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	flex: 0 1 100%;
}

.hero__card {
	flex: 0 1 450px;
	text-align: center;
	transition: all 0.3s ease 0s;

}

.hero__card:hover {
	-webkit-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.16);
	-moz-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.16);
	box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.16);
}

.hero__card-title {
	font-size: 20px;
	color: $third-color;
	font-weight: 800;
	max-width: 265px;
	margin: 0 auto;
}

.hero__card-image img {
	max-width: 100%;
	margin: 50px 0px 50px 0px;
}

.hero__card-info {
	font-size: 15px;
	max-width: 350px;
	margin: 35px auto;
	padding: 0px 45px;
	line-height: 25px;
}

// Services Section

.services__title-text {
	font-weight: 800;
	font-size: 161.87px;
	color: $fifth-color;
}

.services__subtitle-text {
	font-size: 21px;
	font-weight: 400;
	color: $secondary-color;
}

.services__title {
	position: relative;
	text-align: center;
	z-index: 1;
}

.services__subtitle {
	position: absolute;
	margin: 0 auto;
	top: 80%;
	left: 0;
	right: 0;
	text-align: center;
	
}

.services__info {
	display: flex;
}

.services__info-card-list {
	display: flex;
	flex: 1 1 70%;
	flex-wrap: wrap;
}

.services__info-card {
	display: flex;
	padding: 20px;
	flex: 0 1 50%;
}

.services__info-card-img {
	height: 100%;
}

.services__info-card-title {
	font-weight: 800;
	color: $third-color;
	font-size: 20px;
	max-width: 280px;
}

.services__info-card-description {
	max-width: 250px;
	padding-top: 20px;
	align-items: stretch;
	line-height: 25px;
}

.services__info-card-content {
	padding: 0px 0px 0px 50px;
}

.services__figures {
	display: flex;
	flex: 1 1 30%;
	align-items: center;
	max-width: 300px;
	position: relative;
	z-index: 10;

}

.services__figure-1 {
	width: 200px;
	height: 80%;
	background-image: url(/img/mountain-1.jpg);
	align-items: center;
	display: flex;
	justify-content: flex-end;

}

.services__figure-2 {
	height: 435px;
	width: 100px;
	background-color: $third-color;
	position: absolute;
	z-index: -5;
	left: 75%;

	

}

.services__info {
	padding: 100px 0px;
}

// Portfolio section 

.portfolio__title-text {
	font-weight: 800;
	font-size: 161.87px;
	color: $fourth-color;
}

.portfolio__subtitle-text {
	font-size: 21px;
	font-weight: 400;
	color: $secondary-color;
}

.portfolio__title {
	position: relative;
	text-align: center;
	z-index: 1;
	padding-top: 75px;
}

.portfolio__subtitle {
	position: absolute;
	margin: 0 auto;
	top: 85%;
	left: 0;
	right: 0;
	text-align: center;
	
}

.portfolio__wrapper {
	background-color: $fifth-color;
}

.portfolio__projects {
	display: flex;
    flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 100px 0;
}

.portfolio__project {
	flex: 0 1 400px;
	margin: 10px;
	transition: all 0.3s ease 0s;
}

.portfolio__project:hover {
	-webkit-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.16);
	-moz-box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.16);
	box-shadow: 6px 5px 13px -2px rgba(0,0,0,0.16);
}

.portfolio__project img {
	max-width: 100%;
}

.portfolio__project-content {
	padding: 30px;
	background-color: #fff;
}

.project__name {
	font-weight: 800;
	font-size: 20px;
	color: $third-color;
	line-height: 25px / 20px * 1em;
}

.project__info {
	padding-top: 20px;
	line-height: 25px;
	align-content: stretch;
}

// About Section

.about__title-text {
	font-weight: 800;
	font-size: 161.87px;
	color: $fourth-color;
}

.about__subtitle-text {
	font-size: 21px;
	font-weight: 400;
	color: $secondary-color;
}

.about__title {
	position: relative;
	text-align: center;
	z-index: 1;
	padding-top: 75px;
}

.about__subtitle {
	position: absolute;
	margin: 0 auto;
	top: 85%;
	left: 0;
	right: 0;
	text-align: center;
	
}

.about__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 100px 0;
}

.about__figure-1 {
	height: auto;
	position: relative;
	z-index: 1;
}

.about__figure-1:before {
	content: "";
	width: 115px;
	height: 450px;
	background-color: #fafafa;
	position: absolute;
	top:-50%;
	left: 0;
	z-index: -2;
}
.about__figure-1 img {
	max-width: 300px;
	height: auto;
}

.about__figure-2 {
	position: absolute;
	top: -20%;
	left: 80%;
	z-index: -2;
}

.about__info-text {
	flex: 0 1 50%;
	padding: 0 25px;
}

.info__text-strong {
	font-size: 20px;
	font-weight: 800;
	color: $third-color;
	line-height: 40px / 20px * 1em;
}

.info__text-strong:after {
	content: "";
	width: 275px;
	height: 2px;
	background-color: $primary-color;
	display: block;
	margin-top: 40px;
}

.bottom__border {
	width: 275px;
	height: 2px;
	background-color: $primary-color;
	padding-top: 60px;
}

.info__text-light {
	font-size: 15px;
	font-weight: 400;
	line-height: 35px / 15px * 1em;
	padding: 25px 0;
}


//  Contact Section

.contact__title-text {
	font-weight: 800;
	font-size: 161.87px;
	color: $fourth-color;
}

.contact__subtitle-text {
	font-size: 21px;
	font-weight: 400;
	color: $secondary-color;
}

.contact__title {
	position: relative;
	text-align: center;
	z-index: 1;
	padding-top: 75px;
}

.contact__subtitle {
	position: absolute;
	margin: 0 auto;
	top: 87%;
	left: 0;
	right: 0;
	text-align: center;
	
}

.contact__wrapper {
	background-color: $fifth-color;
}

.contact__info-title {
	font-size: 55.5px;
	font-weight: 800;
	color: $third-color;
	padding: 150px 0px 30px 0px;
}

.email__link {
	color: $primary-color;
	font-size: 50px;
	font-weight: 800;
	margin-left: 40px;
}

.contact__socials-text {
	font-size: 15px;
	color: $third-color;
	padding-right: 30px;
}

.contact__socials {
	display: flex;
	align-items: center;
	padding: 40px 0px 150px 80px;
}

.contact__socials-list {
	display: flex;
}

.contact__socials-list li {
	padding-right: 30px;
}

.contact__socials-list li:last-child {
	padding-right: 0px;
}

.contact__socials-link {
	font-size: 20px;
	color: $third-color;
}

.footer__wrapper {
	background-color: $third-color;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.copyright {
	color: #fff;
	font-weight: 800;
	font-size: 15px;
	padding: 50px 0;
}

.copyright a {
	color: $primary-color;
}


// Media

// Large Devices

@media screen and (max-width: 1199.98px) {

	.container {
		max-width: 990px;
		margin: 0 auto;
	}
	.header__list {
		padding-left: 20px;
	}

	.portfolio__project {
		margin: 20px;
	}


}

//  Medium Devices

@media screen and (max-width: 991.98px) {

	.container {
		max-width: 768px;
		margin: 0 auto;
	}

	.services__info {
		display: flex;
		flex-direction: column;
	}

	.services__figure-2, .services__figure-1 {
		display: none;
	}

	.about__figure-2 {
		display: none;
	}

	.contact__info-title {
		text-align: center;
	}

	.email__link {
		text-align: center;
		display: inline-block;
		width: 100%;
		margin: 0 auto;
	}

	.contact__socials {
		justify-content: center;
		padding: 40px 0px 150px 0px;
	}

	.header__list {
		padding-left: 15px;
	}

	.about__info {
		flex-direction: column-reverse;
	}

	.about__figure-1:before {
		content: "";
		width: 415px;
		height: 115px;
		background-color: #fafafa;
		position: absolute;
		top: 70%;
		left: -20%;
		z-index: -2;
	}

	.info__text-light {
		padding-bottom: 35px;
	}

	.contact__info-title {
		font-size: 45px;
	}

	.contact__socials {
		padding-top: 60px;
	}

}


//  Small Devices

@media screen and (max-width: 767.98px) {
	
	.container {
		max-width: 680px;
	}

	.services__title-text, .portfolio__title-text, .about__title-text, .contact__title-text {
		font-size: 120px;
	}

	.email__link {
		display: flex;
		justify-content: center;
		font-size: 35px;
	}

	.services__info-card-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.services__info-card {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 0 0 100%;
		padding: 25px 0px;
		text-align: center;
	}

	.services__info-card-content {
		padding: 20px 0px 0px 0px;
	}

	.about__info-text {
		text-align: center;
	}

}

// Very Small Devices

@media screen and (max-width: 575.98px){

	.container {
		max-width: 310px;
		margin: 0 auto;
	}

	.hero__title {
		font-size: 35px;
	}

	.services__title-text, .portfolio__title-text, .about__title-text, .contact__title-text {
		font-size: 60px;
	}
	.about__figure-1:before {
		display: none;
	}

	.email__link {
		font-size: 20px;
	}

	.contact__socials {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact__socials-text {
		padding: 0px 0px 20px 0px;
	}

	.about__figure-1 img {
		max-width: 280px;
	}

	.header__list {
		padding-left: 55px;
	}

}